<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="test.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<html lang="en">
<center>
    <h1>{{ "Stock page" }}</h1>
    <hr>
<!--    <form method = "post" action ="/insertStock/">-->
<!--        {% csrf_token %}-->
<!--        <label for="insertStockid">InsertStock:</label><br>-->
<!--        <input type="text" id="insertStockid" name="insertStockid"><br>-->
<!--        <input type="text" id="insertStockName" name="insertStockName"><br>-->
<!--        <input type="text" id="insertStockGR" name="insertStockGR"><br>-->
<!--        <input type="submit" name = "insertbutton" onclick=" alert('Congrats! inserted!')" value="insertStock">-->
<!--    </form>-->

    <b>{{ "Search via company name" }}</b>
    <br>
        <form method = "post" action ="/searchStockId/">
            {% csrf_token %}
            <label for="search_Stockid">Search for stock id:</label><br>
            <input type="text" id="search_Stockid" name="search_Stockid"><br>
            <input type="submit" name = "searchstockidbutton"  value="search stock id">
        </form>
    <br>


    <form method = "post" action ="/searchStockPrice/">
        {% csrf_token %}
        <label for="search_Stockprice">Search for stock price:</label><br>
        <input type="text" id="search_Stockprice" name="search_Stockprice"><br>

        <input type="submit" name = "searchstockpricebutton"  value="search stock price">
    </form>
    <hr>

    <b>{{ "Search via stock_id" }}</b>
    <br>
    <form method = "post" action ="/searchStockIdViaSFI/">
        {% csrf_token %}
        <label for="search_StockIdViaSFI">Search for SFI data via stock id:</label><br>
        <input type="text" id="search_StockIdViaSFI" name="search_StockIdViaSFI"><br>
        <input type="submit" name = "searchstockid_via_SFIbutton"  value="search company name">
    </form>
    <hr>



    </p>{{ view_stock|safe }}</p>

    </p>{{ view_FP|safe }}</p>

    </p>{{ view_SFI|safe }}</p>

    </p>{{ view_User|safe }}</p>

    </p>{{ home_page|safe }}</p>


    <img src = 'https://thumbs.dreamstime.com/b/british-pound-queen-elizabeth-medical-mask-coronovirus-covid-pandemic-concept-world-financial-crisis-economy-176045755.jpg'>
    </center>

</html>